.hide {
    display: none;
}

.car, .enemy {
    width: 50px;
    height: 100px;
    background: transparent url('../images/player.png') center / cover no-repeat;
    position: absolute;
    left: 125px;
    bottom: 10px;
}

html, body, .game {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: #222222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #ffffff;
    left: 145px;
}